<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Location Permissions for Google Maps / GPS -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TechFix_Mobiel_App">

        <!-- Main Launcher Activity -->

        <!-- Google Maps API Key Setup -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="YOUR_GOOGLE_MAPS_API_KEY_HERE" />

        <!-- Main Launcher Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Member 1 Activities -->
        <activity
            android:name=".activities.member1.database.LoginActivity"
            android:exported="false" />

        <activity
            android:name=".activities.member1.database.RegisterActivity"
            android:exported="false" />


        <!-- Member 1 Activities -->
        <activity
            android:name=".activities.member1.database.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activities.member1.database.RegisterActivity"
            android:exported="false" />

        <!-- Member 2 Activity -->
        <activity
            android:name=".activities.member2.database.QuotationActivity"
            android:exported="false" />

    </application>

</manifest>